.jumbotron{
    text-align: center;
}

img{
    height: 100%;
    width: 100%;
}

.card-body{
    text-align: center;
    display: flexbox;
}

.row{
    margin-bottom: 30px;
}

.card {
    width: 250px;
    height: 250px;
    background: #125e1c;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
    margin-bottom: 15px;
}
.card:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.container{
    padding-bottom: 50px;
}

button{
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 9999;
}

.flotante {
    display:scroll;
    position:fixed;
    bottom:320px;
    right:0px;
    border: 0;
    width: 80px;
    height: 80px;
}

.emergente{
    width:1000px;
    height:600px;
    position:fixed;
    background-color:#FFFAFA;
    top:50%;
    left:50%;
    margin-left:-500px;
    margin-top:-300px;
    border:1px solid #000;
    border-radius:10px;
    padding:20px;
    text-align:center;
    box-shadow: 10px 10px 10px #ccc;
    visibility: hidden;
}

.emergente p{
    font-size: 24px;
    text-align: left;
}
