.rigth{
    background:  green;
}

.wrong{
    background: red;
}

img{
    height: 400px;
    width: 400px;
}

.jumbotron{
    text-align: center;
}

.container{
    display: none;
}

.botonIniciar{
    text-align: center;
}

.row, .col-sm-12{
    text-align: center;
    padding-bottom: 15px;
}

#answer1{
    background-color: #3cc0cd;
    border-radius: 15px;
    margin-top: 30px;
}

#answer2{
    background-color: #d7ea7a;
    border-radius: 15px;
    margin-top: 30px;
}