.rigth{
    background:  green;
}

.wrong{
    background: red;
}

img{
    height: 400px;
    width: 400px;
}

.jumbotron{
    text-align: center;
}

.container{
    display: none;
}

.botonIniciar{
    text-align: center;
}

.row, .col-sm-12{
    text-align: center;
    padding-bottom: 15px;
}

#grid2{
    padding-top: 20px;
}

#alertBien, #alertMal{
    display: none;
}